{{ 'cart.css' | asset_url | stylesheet_tag }}

{% comment %}
  Empty cart section.
{% endcomment %}
<script src="{{ 'cart.js' | asset_url }}" defer></script>
{% capture empty_cart %}
<section class="empty-cart-container">
  <p class="h3">سلة التسوق فارغة.</p>
  <a href="{{ routes.all_products_collection_url }}" class="button">تسوق الآن</a>
</section>
{% endcapture %}

<script>
  const emptyCartHtml = `{{ empty_cart }}`;
</script>

<div class="cart-page-width">
  <div class="cart-header-title">
    <h1>سلة التسوق</h1>
  </div>

  <div id="cart-content" class="cart-container">
    {% if cart.items.size > 0 %}
      <form action="{{ routes.cart_url }}" method="post" class="cart-form">
        <div class="cart-table-header mobile-hidden">
          <div class="cart-col-product">المنتج</div>
          <div class="cart-col-quantity">الكمية</div>
          <div class="cart-col-total">المجموع</div>
        </div>
        <div class="cart-items-group">
          {% for item in cart.items %}
            {% render 'cart-item', item: item %}
          {% endfor %}
        </div>

        <div class="cart-footer">
          <div class="cart-footer__row">
            <span class="cart-subtotal-label">المجموع التقديري:</span>
            <strong class="cart-subtotal-value js--cart-total">{{ cart.total_price | money }}</strong>
          </div>

          <div class="cart-footer__note">
            <p>الضرائب والشحن تحسب عند إتمام الطلب</p>
          </div>

          <div class="cart-footer__actions">
            <button type="submit" name="checkout" class="button button--primary button--full-width">إتمام الطلب</button>
          </div>

          {%- if additional_checkout_buttons -%}
            <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {%- endif -%}
        </div>
      </form>
    {% endif %}

    {% if cart.items.size == 0 %}
      {{ empty_cart }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "cart-section",
  "settings": []
}
{% endschema %}
